#### Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(n):
    reverse = ''.join((str(n)[::-1]))
    print(reverse)
    if n == int(reverse):
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

7227

True

In [3]:
is_symmetrical(9939)

9399

False

#### Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [4]:
def multiply_nums(string):
    lt = list(string.split(', '))
    Mult = 1
    for i in lt:
        Mult *= int(i)
    return Mult

In [5]:
multiply_nums("2, 3")

6

In [6]:
multiply_nums("10, -2")

-20

#### Question 3
Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

In [7]:
def square_digits(n):
    n = str(n)
    sq = ''
    for i in n:
        sq += str(int(i)**2)
    return int(sq)

In [8]:
square_digits(9119)

811181

In [9]:
square_digits(2483)

416649

#### Question 4
Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [10]:
def setify(lt):
    lt = list(dict.fromkeys(lt))
    lt.sort()
    return lt

In [11]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [12]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

#### Question 5
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [13]:
def mean(n):
    n = str(n)
    Sum = 0
    for i in n:
        Sum += int(i)
    return int(Sum/len(n))

In [14]:
mean(42)

3

In [15]:
mean(12345)

3

In [16]:
mean(666)

6